<?php ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<p id="premium-tab-partial">
	<div style="display:block;margin-top:10px;color:red;background-color:rgba(251, 232, 0, 0.15);padding:5px;border:solid 1px rgba(255, 0, 9, 0.36);">
				Only 10 users are allowed. <a href="<?php echo Backend::url('miniorange/samlsp/accountcontroller/update/1');?>">Please Register or Login with miniOrange</a> Upgrade to premium for unlimited users.
				</div>
    <!-- <p id="premium-tab-partial"><a href="<?php echo Backend::url('miniorange/samlsp/accountcontroller/update/1');?>" style="background: yellow; border:2px solid orange; padding: 4px">Only 10 users are allowed. Upgrade to premium for unlimited users.</a></p> -->
</body>
</html>